/* --------------- Mediaqueries ---------------*/
@import "components/_mixins.scss";
@import "base/_variables.scss";
/* //////// CELULAR //////// */

@media only screen and (max-width: 480px) and (min-width: 320px) {

    header{
        .divFlexlogo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .nombreNegocio{
                text-align: center;
                font-family: 'Satisfy', cursive;
                font-size: 50px;
                color: rgb(53, 53, 141);}
                text-decoration: underline rgb(189, 24, 24);
            .navLogo{
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                padding: 2rem;
                font-size: 5rem;
                font-family: 'Satisfy', cursive;
                color: rgb(23, 23, 122);
                .imgLogo{
                    @include Tamaños(200px, 150px);}
                }
        /* No funciona este nesting
        nav{
            .colorHam{
                background-color:rgb(53, 53, 141) ;}*/
        }
        div{
            .navListC{
                margin-left: 10px;
                padding: 10px 0px ;
                display:  flex;
                justify-content: center;
                flex-direction: column;
                list-style-type: none;
                border-bottom: 2px solid rgb(23, 23, 122);
                .navItemC{
                    font-size: 25px;
                    .navLinkC{
                        color: rgb(189, 24, 24);
                        text-decoration: none;
                        font-family: 'Satisfy', cursive;
                        font-weight: bold;
                        text-decoration: underline rgb(23, 23, 122);
                    }
                }
            }
        }
        
    }

    /*No puedo ubicar estas clases en el nesting*/
    .hideNav{
        display: none;
    }
    .colorHam{
        background-color:rgb(53, 53, 141) ;}

}



/* //////// TABLET //////// */

@media screen and (max-width: 1199px) and (min-width: 600px) {

    header{
        .divFlexlogo{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            /* Titulo principal*/
            .nombreNegocio{
                text-align: center;
                font-family: 'Satisfy', cursive;
                font-size: 100px;
                color: $color-titulo;
                text-decoration: underline rgb(189, 24, 24);
                }
            .navLogo{
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                padding: 2rem;
                font-size: 5rem;
                font-family: 'Satisfy', cursive;
                color: rgb(23, 23, 122);
                .imgLogo{
                    @include Tamaños(300px, 250px);
                }
            }
        }
        nav{
            .navList{
                display:  flex;
                justify-content: center;
                align-items: center;
                /*Quiero que aparezcan las linas por abajo y por arriba no mas*/
                border: solid 2px rgb(23, 23, 122);
                border-left: 0px;
                border-right: 0px;
                .navItem{
                    padding: 25px;
                    font-size: 30px;
                    display: block;
                    .navLink{
                        color: rgb(189, 24, 24);
                        text-decoration: none;
                        font-family: 'Satisfy', cursive;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    /* Tampoco puedo agregar este atributo al nesting*/
    .hideNavT{
        display: none;
    }
}


/* //////// COMPUTADORA //////// */
@media only screen and (min-width: 1200px) {
    header{
        .divFlexlogo{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            /* Titulo principal*/
            .nombreNegocio{
                text-align: center;
                font-family: 'Satisfy', cursive;
                font-size: 100px;
                color: $color-titulo;
                text-decoration: underline rgb(189, 24, 24);
            }
            .navLogo{
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                padding: 2rem;
                font-size: 5rem;
                font-family: 'Satisfy', cursive;
                color: #17177a;
                .imgLogo{
                    @include Tamaños(300px, 250px);
                }
            }
        }
        nav{
            .navList{
                display: flex;
                justify-content: space-around;
                align-items: center;
                /*Quiero que aparezcan las linas por abajo y por arriba no mas*/
                border: solid 2px #17177a;
                border-left: 0px;
                border-right: 0px;
                .navItem{
                    padding: 1rem 1.5rem;
                    font-size: 3rem;
                    display: block;
                    .navLink{
                        color: #bd1818;
                        text-decoration: none;
                        font-family: 'Satisfy', cursive;
                        font-weight: bold;
                    }
                    .navLink:hover{
                        color: rgb(189, 24, 24);
                        text-decoration: none;
                        font-family: 'Satisfy', cursive;
                        font-weight: bold;
                        border: 2px solid black;
                        border-radius: 6%;
                        text-decoration: underline rgb(23, 23, 122);
                    }
                }
            }
            
        }
    }

    /* Tampoco puedo agregar este atributo al nesting*/
    .hideNavPC{
        display: none;
    }
}