// Uso de variable //

$color-nombre: rgb(53, 53, 141);

$color-h1:rgb(22, 59, 10);

$color-h2:rgb(214, 84, 84);

$color-titSeccion: rgb(92, 18, 126);

$color-titProd: rgb(189, 24, 24);

$color-variedad:rgb(126, 27, 27);

$color-link:rgb(92, 18, 126);
